

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    padding: 0 8px;
    margin-bottom: 40px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap:24px;
    font-weight: 500;
}

.navigation ul li a {
    text-decoration: none;
    color: #000;
}


@media(max-width:991px){
    .navigation ul{
        display: flex;
        justify-content: center;
    }
}