.container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 1000px;
    margin: 0 auto;
}

.top_button {
    display: flex;
    gap: 32px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 26px;
}

.form_controller {
    display: flex;
    flex-direction: column;
    width: 95%;
    position: relative;
    margin: 0 auto;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.form_controller input {
    height: 40px;
    padding: 0 8px;
}

.form_controller label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #fff;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #000;
}

.contact_image{
    margin-left: 81px;
}

@media(max-width:768px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
}

@media(max-width:420px){
    .container{
        max-width: 80%;
        display: flex;
        align-items:start;
    }
   
}